/*Переменные*/


:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-black: #333333;
  --basic-cyan: #81b3d2;
  --cyan-dark: #669ec0;
  --cyan-extra-dark: #5496bd;
  --brown: #766357;
  --brown-dark: #604E43;
  --brown-extra-dark: #503e33;
  --brown-gray:#6a6a6a;
  --gray: #eeeeee;
  --gray-light: #f2f2f2;
  --gray-dark: #e5e5e5;
  --rubus: #bdbbbc;

}



.page-body-index {
  min-width:1280px;
  margin:0;
  padding:0;
  font-family: "PT Sans",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--gray-light);
}

.page-body-inner {
  min-width:1280px;
  margin:0;
  padding:0;
  font-family: "PT Sans",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--gray-light);
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height:auto
}
/*Grid*/
.page {
  height: 100%
}

.page-body-index {
  min-height:100%;
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*Main Header*/
.main-header {
margin:0
}

h2 {
  font-size: 21px;
  text-align:center;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-black)
}

/*Site Navigation*/
.main-navigation {
  display:flex;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  justify-content:center;
  background-color: var(--basic-white)
}
.container {
  margin:0
}

.header-logo {
  display:flex;
  justify-content: center;
  width: 138px;
  height: 70px;
  margin:0 auto
}

.site-navigation a{
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent
}

.site-navigation a.active{
  color:var(--brown)
}
.site-navigation {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  width:1200px;
  margin:0px;
  vertical-align:middle;
  padding:0px;
  margin-top:-80px;
  height:55px;
  list-style: none;
}

.site-navigation a:hover {
color: var(--basic-cyan)
}

.site-navigation a:active {
color: var(--basic-black);
opacity:30%
}

/*logo*/
.to-main-page {
  display:block;
  width: 138px;
  height: 70px;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  z-index:2
}

/*Container*/

.container {
  width:1200px;
  margin: 0 auto
}

/*Header*/
.welcome {
  width:456.65px ;
  height:350.88px;
  margin:0 auto;
  margin-top:78px;
  padding:0;
  position:relative;
  z-index:2
}

.background-placeholder {
  display:flex;
  width:1200px;
  height:509px;
  background-image: url("../img/background-photo.jpg");
  background-position: center ;
  background-repeat: no-repeat;
  margin-top:-428.88px;

}
.decoration-placeholder {
  display:flex;
  width:1200px;
  background-image: url("../img/decor.svg");
  background-position: bottom;
  background-repeat:no-repeat;

}


/*Main*/
/*index*/
.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:272px;
  width: auto;
  background-color: var(--basic-white);
}

.reasons {
  width:100%;
}

.reasons-list {
  width:100%;
  margin:0;
  padding:0;
}
.reason-item1 {
  display:flex;
  width:100%;
  height:256px;
  justify-content: center;
}
.reason-item1  {
  color: var(--basic-white);
  background-color: var(--basic-cyan)
}

.reason-info1 {
  display:flex;
  width:400px;
  height:256px;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-self:center
}

.reason-info1 p {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-white)
}

.features-list {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.feature-item {
  margin:60px 0
}
.reasons-list {
  list-style:none;
  text-align: center
}

.reason-item2 {
  display:flex;
  flex-direction: row-reverse;
  width:100%;
  height:256px;
  justify-content: center;
}

.reason-item2 {
    color: var(--basic-white);
    background-color: var(--basic-cyan)
}

.reason-info2 {
  display:flex;
  width:400px;
  height:256px;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-self:center
}

.reason-info2 p {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-white)
}

.reasons-poor {
  display:flex;
  justify-content:space-around;
  align-items: center;
  height: 250px
}


.features-list {
  list-style: none;
  text-align: center
}

.feature-item h3 {
  font-size: 21px;
  text-align: center
}

.search-sedona {
  font:inherit;
  font-size:21px;
  width:568px;
  height: 86px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--brown);
  border: none
}

.hidden-form-button .popup {
  display:none;
}

.hidden-form-button:hover .popup {
  position:absolute;
  display: flex;
  height:395px;
  width:568px;
  justify-content:center;
  padding:50px 0;
  flex-wrap:wrap;
  background-color: var(--basic-white);
  box-sizing:border-box
}

.popup .search-item  {
  display:flex;
  font: inherit;
  width:458px;
  height:38px;
  justify-content:space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom:30px;
}

 .search-item:last-child  {
  margin-bottom: 0;
}

.date-decoration  {
  display:flex;
  font: inherit;
  background-color: var(--gray-light);
  width:346px;
  height:38px;
  border:1px solid var(--gray-light);
  vertical-align: middle;
}


 .search-item .date-decoration input {
   display:flex;
   font:inherit;
   width:inherit;
   padding:0 0;
   background-color: var(--gray-light);
   border:1px solid var(--gray-light);

}

.date-decoration  svg{
  display:flex;
  align-self: center;
  margin-right:5px
}

.form-group {
  display:flex;
  width:458px;
  justify-content: space-between;
}

.quantity-form {
  display:flex;
  width:114px;
  height:38px
}
/*
.form-group div:first-child label {
  margin-right:100px;
}
*/
.form-group div:last-child label {
  padding-left:50px
}

.search-item label {
vertical-align: middle;
}

.quantity-form input {
  width:64px;
  background-color: var(--gray-light);
  border:1px solid var(--gray-light);

}

.button-plus {
  display:flex;
  padding:0;
  padding-right:13px;
  padding-top:15px;
  border:none;
}

.button-plus svg:hover path {
  fill:var(--basic-black)
}

.button-minus {
  display:flex;
  padding:0;
  padding-left:13px;
  padding-top:19px;
  border:none;
}

.button-minus svg:hover rect {
  fill:var(--basic-black)
}

.search-item input:hover {
  background-color:var(--gray-dark)
}


.search-item input:focus {
  background-color: transparent
}

.date-decoration svg:hover path {
  fill:var(--basic-black)
}

.date-decoration svg:active path {
  fill:var(--basic-cyan)
}


 .quantity-form:first-child {
  margin-right: 80px
}


.search-sedona:hover {
  background-color: var(--brown-dark)
}

.search-sedona:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: var(--brown-extra-dark);
}

.search-form p {
  text-align:center;
  margin-bottom:50px
}

.search-form h2 {
  font-size:30px
}

.search-form {
  flex-direction:column;
  width:568px;
  margin-left:auto;
  margin-right:auto;
}


.search {
  font-size:21px;
  font-weight:700;
  width:458px;
  height:58px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-cyan);
  border: none
}

.search:hover {
background-color:var(--cyan-dark);
}

.search:active {
background-color:var(--cyan-extra-dark);
color:rgba(255, 255, 255, 0.3)
}

.intro {
  font-size: 14px;
  text-align: center;
  color: var(--light-black)
}

.inner {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black);
  list-style: none
}

.limit {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black)
}

.reasons, .map {
background-color: var(--gray)
}

.map {
  height:594px;
  background-image: url("../img/map.png");
  z-index:1;
}
/*inner*/
/*Hotel pick menu*/
.pick {
  display:flex;
  width:1200px;
  height:217px;
  justify-content: center;
  align-items: space-between;
  background-image: url("../img/backgroundblur.jpg");
  background-position: ;
  background-repeat: no-repeat
}

.search-parameters {
  display:flex;
  width:1200px;
  height:217px;
  margin-bottom:60px;
  justify-content:;
  color: var(--basic-white)
}


.inner-infrastructure {
  display:flex;
  flex-direction:column;
  margin:0;
  justify-content:space-around;
  padding-bottom:20px;
  list-style:none;
}

.inner-infrastructure h3 {
  margin-bottom:0
}

.filter-option label {
  position: relative;
  display: flex;
  cursor: pointer;
  font-size: 14px;
  font-weight:400;
  user-select: none;
  align-self: center;
}

.inner-hotel-type .filter-option label::before {
  display:block;
  content:"";
  width:23px;
  height:23px;
  margin-right:17px;
  align-self:center;
  background-image:url("../img/checkbox-off.svg");
}


.inner-infrastructure li:last-child label::before {
  display:block;
  content:"";
  width:27px;
  height:23px;
  margin-right:17px;
  align-self:center;
  background-image:url("../img/checkbox-on-disabled.svg");
}

.inner-infrastructure li:nth-child(2) .filter-input-checkbox + label::before {
  display:block;
  content:"";
  width:19px;
  height:19px;
  margin-right:17px;
  align-self:center;
  border:3px solid var(--brown-gray);
  border-radius:3px;
}

.inner-infrastructure li:nth-child(3) .filter-input-checkbox + label::before {
  display:block;
  content:"";
  width:19px;
  height:19px;
  margin-right:17px;
  align-self:center;
  border:3px solid var(--brown-gray);
  border-radius:3px;
}


.filter-option .filter-input-checkbox:checked + label::before {
  display:block;
  content:"";
  width:27px;
  height:23px;
  margin-right:13px;
  align-self:center;
  background-image:url("../img/checkbox-on.svg");
  background-repeat:no-repeat;
}

.inner {
  height:auto;
  flex-direction:column;
  align-items: space-around;
  color: var(--basic-white);
}

.inner-hotel-type {
  display:flex;
  flex-direction:column;
  margin:0;
  margin-left:120px;
  justify-content:space-around;
  padding-bottom:20px;
  list-style:none;
}

.inner-hotel-type h3 {
  margin-bottom:0
}

/* Filter toggle*/

.filter-item {
  margin-top: 0px;
  padding: 0;
  border: none;
}

.range-filter {
  width: 316px;

}

.filter-item legend {
  margin:0;
font-size: 16px;
line-height:21px;
font-weight:700px;
margin-bottom: 20px;
}

.range-controls {
position:relative;
}

.range-controls .scale {
  margin-top: 25px;
  height: 2px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}


.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius:50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-min:hover {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
}

.range-controls .toggle-max {
  left: 248px;
}

.range-controls .toggle-max:hover {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
}

.cost-per-day {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin-left:auto;
  margin-right:70px;
}

.range {
  display:flex;
  width:317px;
  font-size: 14px;
  font-weight:400;
  line-height:21px;
  padding: 7px 0;
  border: 3px solid white;
  border-radius:2px;
}

.stick {
  display:flex;
  width:2px;
  margin:0;
  margin-left:40px;
  align-self:center
}

.range .range-lim:first-child {
  display:flex;
  padding-left:65px
}

.range .range-lim:last-child {
  display:flex;
  padding-left:50px;
}

.range .range-lim input {
  width:32px;
  color:var(--basic-white);
  background-color:transparent;
  vertical-align: middle;
  margin-left:5px;
  border:none
}


.show {
  width:136px;
  height:36px;
  align-self:center;
}

.show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white)
}

/* Search results*/
.sort {
  display: flex;
  padding-left:50px;
  padding-top:30px;
  margin:0 auto;
  height:145px;
  background-color:var(--basic-white);
  border-bottom:1px solid var(--gray-dark);


}

.sort-inner {
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content: flex-start;
  color: var(--basic-black);
  list-style:none;
}

.sort h2 {
  margin:10px;
  white-space: pre;
}



.sort-inner li:not(:first-child) {
  color:silver;
  line-height:18px;
  font-size: 12px;
  font-weight:400;
  text-decoration:underline dashed;
  margin-right: 40px;
}

.sort-inner li:first-child {
  line-height:18px;
  font-size: 12px;
  font-weight:400;
  color:var(--basic-black);
  margin-right: 40px
}

.sort-inner li:nth-child(2) {
  color:var(--basic-cyan);
  line-height:18px;
  font-size: 12px;
  font-weight:400;
  text-decoration:none;
  margin-right: 40px;
}

.sort-inner li:not(:first-child):hover {
  color:var(--basic-cyan);
  line-height:18px;
  font-size: 12px;
  font-weight:400;
  text-decoration:underline dashed;
  margin-right: 40px;
}

.sort-inner li:not(:first-child):active {
  color: var(--basic-cyan);
  text-decoration:none
}

.sort-inner li:focus {
  color: var(--basic-black);
  text-decoration:none
}

.sort-inner h4 {
  margin:0
}

.sort h2, .sort h4 {
  margin-right: 40px;
}

.sort-triangles {
  margin-left:auto;
  margin-right:70px;
  margin-top:0
}

.sort-triangles svg {
  margin-right:10px
}

.sort-triangles svg:first-child:hover path,
.sort-triangles svg:last-child:hover path {
  fill: var(--basic-black)
}

.sort-triangles svg:first-child:active path,
.sort-triangles svg:last-child:active path{
  fill: var(--basic-cyan)
}

.pick-result {
  display:flex;
}

.found {
  display:flex;
  flex-direction: column;
  align-content: space-around;
  width:1200px;
  height:auto;
  list-style: none;
  padding:0;
  margin:0 auto;
  background-color:var(--basic-white);
  box-sizing:border-box
}

.amara {
  display:flex;
  width: 100%;
  height: 125px;
  flex-wrap: wrap
}

.amara p{
  display:flex;
  justify-content: flex-start
}

.desert {
  display:flex;
  width: 100%;
  height: 125px;
  flex-wrap: wrap
}

.diablo {
  display:flex;
  width: 100%;
  height: 125px;
  flex-wrap: wrap
}

.found-item {
  display:flex;
  padding: 24px  70px;
  margin-left: auto;
  width:1200px;
  flex-direction:row;
  border-bottom:1px solid var(--gray-dark);
  box-sizing:border-box

}


.found-item h3 {
  margin:0
}

.found-item p {
  margin:0
}

.found-item img {
  display:block
}


.stars {
  padding:0;
  display:flex;
  flex-direction:row;
  margin-left:auto;
  margin-bottom: 40px;
  list-style:none;

}

.stars li {
  width:25px;
  height:25px;
  background: url("../img/star.svg") no-repeat 100% 100%;
  list-style:none
}

.rating {
  background-color: var(--gray);
  text-align:center;
  padding:5px;
  width:100px;
  height:12px;
  line-height: 12px;
}

.text {
display:flex;
flex-direction:column;
margin-left:30px
}

.path {
margin-left:auto;
margin-right:10px;
display:flex;
flex-direction:column;
text-align:right
}

.buttons {
  display:flex;
  margin-top:auto;
  flex-direction:row;
}

.buttons button:first-child {
  margin-right: 6px;
}

/* Button*/
.detail {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-cyan);
  border: none
}

.detail:hover {
  background-color:var(--cyan-dark)
}
.detail:active {
  color:rgba(255, 255, 255, 0.3);
  background-color:var(--cyan-extra-dark);
}

.book {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--brown);
  border: none
}

.book:hover {
  background-color: var(--brown-dark)
}

.book:active {
  color:rgba(255, 255, 255, 0.3);
  background-color:var(--brown-extra-dark);
}

.show {
  font: inherit;
  font-weight:400;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white
}
/* Footer*/

.page-footer {
  display:flex;
  width:1200px;
  height:120px;
  margin-left:auto;
  margin-right:auto;
  justify-content: space-around;
  margin-top:-120px;
  background-color:rgba(255, 255, 255, 0.9);

  z-index:2
}

.footer-up {
  height:120px;
  background-color:var(--basic-white)
}

.visually-hidden:not(:focus):not(:active) {
  overflow: hidden;
}

.social-media {
  list-style:none
}

.copyright-footer{
  display:flex;
  margin-top:36px
}

.copyright-text {
  white-space:pre
}

.htmlacademy {
  margin-top:5px
}

.htmlacademy:hover path {
  fill: var(--basic-cyan);
}

.htmlacademy:active path {
  fill: var(--rubus)
}

.outro {
  font-size: 21px;
  font-weight: 700;
  line-height: 180%;
  color: var(--basic-black)
}

.social-media {
  display:flex;
  margin-top:36px;
  margin-right:40px;
}
.icon {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:6px;
  width:46px;
  height:48px;
  background-color: var(--basic-cyan);
}

.icon:hover {
background-color: var(--cyan-dark);
}

.icon:active path {
  opacity:0.3;
}

.icon:active {
  background-color: var(--cyan-extra-dark);
}

.visually-hidden {
  display:none
}

.blank {
  width:1224px;
  height:1224px;
  margin-left:auto;
  margin-right:auto;
  background-image:url("../img/founded1902.jpg");
  background-position: center;
}

.blank h1,
.blank p {
  font-family: "PT Sans",sans-serif;
  font-size: 48px;
  line-height: 26px;
  font-weight: 700;
  padding-top:100px;
  text-align:center;
  text-decoration:underline;
  color: var(--basic-white);
}
