/*Переменные*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --light-black: #333333;
  --basic-cyan: #81b3d2;
  --brown: #766357;
  --gray: #eeeeee

}

body {
  min-width:1280px;
  margin:0;
  padding:0;
  font-family: "PT Sans",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url(":/img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height:auto
}
/*Grid*/
.page {
  height: 100%
}

.page-body {
  min-height:100%;
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*Main Header*/
.main-header {

}

h2 {
  font-size: 21px;
  text-align:center;
}

/*Site Navigation*/
.main-navigation {
  display:flex;
  justify-content:center
}

.header-logo {
  width:auto;
  width: 138px;
  height: 70px;
}

.site-navigation a{
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent
}
.site-navigation {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:1200px;
  margin:0px;
  padding:0px;
  min-height:70px;
  list-style: none;

}

.main-navigation-wrapper {
  width:100%;
  margin-bottom: 50px;
}
.site-navigation a:hover {
color: var(--basic-cyan)
}
/*logo*/


/*Container*/

.container {
  width:1200px;
  margin: 0 auto;
  padding: 0 10px
}

/*Header*/
.welcome {
  width:456.65px ;
  height:350.88px;
  margin:0 auto;
  padding:0;
}
/*Main*/

.reasons {
  width:100%;
}

.reasons-list {
  width:100%;
  margin:0;
  padding:0;
}
.reason-item1 {
  display:flex;
  width:100%;
  height:256px;
  justify-content: center;
}
.reason-item1  {
  color: var(--basic-white);
  background-color: var(--basic-cyan)
}

.reason-info1{
  display:flex;
  width:400px;
  height:256px;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-self:center

}

.features-list {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
.reasons-list {
  list-style:none;
  text-align: center
}

.reason-item2 {
  display:flex;
  flex-direction:row-reverse;
  width:100%;
  height:256px;
  justify-content: center;
}

.reason-item2 {
    color: var(--basic-white);
    background-color: var(--basic-cyan)
}

.reason-info2{
  display:flex;
  flex-direction:column;
  justify-content:center;

}


.reasons-poor {
  display:flex;
  justify-content:space-around
}

.reasons, .map {
background-color: var(--gray)
}


.reason-info1  {
  color: var(--basic-white);
  background-color: var(--basic-cyan)
}

.reason-info2 {
    color: var(--basic-white);
    background-color: var(--basic-cyan)
}

.features-list {
  list-style: none;
  text-align: center
}

.feature-item h3 {
  font-size: 21px;
  text-align: center
}
.popup {
  display:none
}

p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-black)
}

.intro {
  font-size: 14px;
  text-align: center;
  color: var(--light-black)
}

.inner {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black);
  list-style: none
}

.limit {
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black)
}



/*Hotel pick menu*/
.pick {
  display:flex;
  width:100%;
  height:217px;
  justify-content:center;
  flex-wrap: wrap;
}

.pick-result {
  display:flex;
}

.sort, .inner {
  display:flex;
  justify-content:space-around
}

.found {
  display:flex;
  flex-direction:column;
  list-style: none
}
/* Button*/
.detail {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-cyan);
  border: none
}

.book {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--brown);
  border: none
}

.detail:hover,.detail:active,.book:hover,.book:active {
  background-color: var(--light-black)
}

.show {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
}
/* Footer*/

.page-footer {
  display:flex;
  width:1200px;
  height:120px;
  justify-content: space-around;
}
.social-media {
  list-style:none
}

.outro {
  font-size: 21px;
  font-weight: 700;
  line-height: 180%;
  color: var(--basic-black)
}

.icon {
  background-color: var(--basic-cyan)
}

.visually-hidden {
  display:none
}
